# Copyright (c) Huawei Technologies Co., Ltd. 2019. All rights reserved.
# authz is licensed under the Mulan PSL v2.
# You can use this software according to the terms and conditions of the Mulan PSL v2.
# You may obtain a copy of Mulan PSL v2 at:
#    http://license.coscl.org.cn/MulanPSL2
# THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT, MERCHANTABILITY OR FIT FOR A PARTICULAR
# PURPOSE.
# See the Mulan PSL v2 for more details.
# Description: authz service
# Author: zhangsong
# Create: 2019-01-18

[Unit]
Description=authz: isulad authorization plugin 
After=syslog.target

[Service]
ExecStart=/usr/lib/isulad/authz-broker
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target isulad.service
